<audio data-theme="night" data-src="https://changelog.com/podcast/372/embed" src="https://cdn.changelog.com/uploads/podcast/372/the-changelog-372.mp3" preload="none" class="changelog-episode" controls>
</audio>
<p>
    <a href="https://changelog.com/podcast/372">The Changelog 372: Building an open source excavation robot for NASA
    </a>
    – Listen on <a href="https://changelog.com/">Changelog.com</a>
</p>
<script async src="//cdn.changelog.com/embed.js"></script>