.header {
  background: $light-header;
  color: $light-color-font-alt;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 20px;

  .dark-theme & {
    background: $dark-header;
    color: $dark-color-font-alt;
  }

  &__right {
    display: flex;
    flex-direction: row;
    align-items: center;

    @media #{$media-size-phone} {
      flex-direction: row-reverse;
    }
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    width: 95%;
    max-width: 100%;
  }
}

.theme-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  cursor: pointer;
}

.theme-toggler {
  fill: currentColor;

  animation: shake-rocket 15s ease-in-out infinite alternate;
}

.unselectable {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

@keyframes shake-rocket {

  10%, 90% {
    transform: translate3d(-4px, 1px, 0);
  }

  20%, 80% {
    transform: translate3d(-3px, 2px, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-2px, 2px, 0);
  }

  40%, 60% {
    transform: translate3d(0px, 3px, 0);
  }
}