.star {
    position: relative;
    background-color: white;
}

.star-container {
    margin: 0;
    height: 0;
    animation: spin 100s infinite alternate;
}

@for $i from 1 to 200 {
    .star:nth-of-type(#{$i}) {
        top: random(80) - 1 + vh;
        left: random(100) - 1 + vw;
        width: random(2) + px;
        height: random(1) + px;
        opacity: random(50) / 100 + 0.5;
    }
}

@keyframes spin {
  0% {
    -webkit-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
  100% {
    -webkit-transform: translate(100px, 0px);
    -moz-transform: translate(100px, 0px);
    -ms-transform: translate(100px, 0px);
    transform: translate(100px, 0px);
  }
}
