@charset "UTF-8";

/* light theme color */
$light-background: #FBFCFF;
$light-background-secondary: #456990;
$light-header: $light-background-secondary;
$light-color: #222;
$light-color-font-alt: #FBFCFF;
$light-color-secondary: #999;
$light-border-color: #dcdcdc;

/* dark theme colors */
$dark-background: #22223B;
$dark-background-secondary: #182334;
$dark-header: $dark-background-secondary;
$dark-color-font: #d6d6d6;
$dark-color-font-alt: #FBFCFF;
$dark-color-secondary: #5D737E;
$dark-border-color: #C17817;

$post-background-color: #43557A;

$media-size-phone: "(max-width: 684px)";
$media-size-tablet: "(max-width: 900px)";

/* variables for js, must be the same as these in @custom-media queries */
:root {
  --phoneWidth: (max-width: 684px);
  --tabletWidth: (max-width: 900px);
}
